.footer-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow-x: auto;

    .media-item {
        margin-left: 10px;

        &:first-child {
            margin-left: 0;
        }
    }
}