.container {
    display: flex;
    flex-direction: column;
    // background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%);
    background-color: #ffffff;
    height: 100%;
    overflow: hidden;

    .title {
        color: #fff;
    }

    .content {
        flex: 1;
        overflow: hidden;
    }

    .icon-home {
        color: #fff;
        font-size: 20px;
    }
}