.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
    }
}

.content {
    width: 100vw;
    height: 100vh;
}