.article-card {
    cursor: pointer;
    transition-duration: 0.5s;
    width: 100%;
    height: 100%;

    .card-img {
        overflow: hidden;
        height: 300px;

        .cover {
            width: 100%;
            transition-duration: 1s;
        }
    }

    .card-body {
        padding: 10px 0;

        .title {
            font-size: 20px;
            color: #0f0f0f;
            margin-bottom: 5px;
            margin-top: 0;
        }

        .describle {
            font-size: 16px;
            color: #ccc;
            margin: 0;
        }
    }

    &:hover {
        .cover {
            transform: scale(1.2);
        }
    }

}