.article-card {
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.5s;

    .card-img {
        height: 160px;
        overflow: hidden;

        .cover {
            width: 100%;
            transition-duration: 1s;
        }
    }

    .card-body {
        padding: 10px;

        .title {
            font-size: 16px;
            color: #0f0f0f;
            margin-bottom: 5px;
        }

        .describle {
            font-size: 14px;
            color: #ccc;
            margin: 0;
        }
    }

    &:hover {
        .cover {
            transform: scale(1.2);
        }
    }

}