<ng-container *ngIf="articles$ | async as articles;else loadingTpl">
    <ng-container *ngIf="articles && articles.length;else emptyTpl">
        <div class="container">
            <div class="article-card" *ngFor="let article of articles">
                <blog-article-card [article]="article" (read)="read($event)"></blog-article-card>
            </div>
        </div>
    </ng-container>
</ng-container>

<ng-template #loadingTpl>
    loading...
</ng-template>
<ng-template #emptyTpl>
    没有数据
</ng-template>