.home {
    height: 100%;

    .nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .nav-item {
            color: aqua;
        }
    }
}