.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80vw;
    margin: 0 auto;

    .content-wrapper {
        flex: 1;
        overflow: hidden;
    }

    .nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }

    .search-section {
        display: flex;
        align-items: center;
        min-height: 80px;
        margin-left: 5px;
    }
}