<div class="home">
    <nav class="nav">
        <ul>
            <li class="nav-item">
                <button mat-icon-button color="primary" (click)="navByMode('bubble')">
                    <i class="iconfont icon-bubble"></i>
                </button>
            </li>
            <li class="nav-item">
                <button mat-icon-button color="accent" (click)="navByMode('list')">
                    <i class="iconfont icon-grid"></i>
                </button>
            </li>
        </ul>
    </nav>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>