.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .more-btn {
        position: absolute;
        top: 50px;
        right: 50px;
        z-index: 2;
    }

    .video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;

        &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1;
            // background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .content {
        height: 100%;
        position: relative;
        background-color: #ccc;

        .article-card-list {
            position: absolute;
            z-index: 1;
            bottom: 50px;
            width: 100%;
        }

        .quote-wrapper {
            position: absolute;
            z-index: 2;
            top: 30%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}