.image-item {
    position: relative;

    img {
        position: fixed;
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        transition-duration: 0.2s;
        transform: translate(-50%, -100%);
    }

    img.show {
        opacity: 1;
        width: 200px;
        height: 200px;
    }
}