/* You can add global styles to this file, and also import other style files */
@import './styles/theme.scss';
@import './styles/fontawesome/scss/fontawesome.scss';
@import './styles/md-themes/apollo.scss';
// @import './styles/md-themes/sspai.scss';
@import './styles/css-mask.scss';
@import './styles/scroll-bar.scss';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", "Helvetica Neue", sans-serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

::selection {
    background: var(--accent-color);
}